.books{
    display: grid;
    grid-template-columns: repeat(4,auto);
    padding: 0 8px;
    gap: 50.25px 30px;
}
.selected-part{
    padding:100px 70px;
}
.selected-part h2{
    margin-bottom: 46px;
}

/* ================ Responsive ========= */
@media (max-width:1055px) {
    .books{
        grid-template-columns: repeat(2,auto);
        margin: 0 auto;

    }
}

@media (max-width:850px) {
    .selected-part{
      
       padding: 31px 24px 31px 16px;
    }
}
@media (max-width:700px) {
    .books{
        grid-template-columns: repeat(1,auto);

    }
}